/* 全站顶部条 */
html.gogoend .global-header {
  position: relative;
  width: 100%;
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flow-root;
  padding: 1em 0;
  align-items: center;
}
html.gogoend .global-header a:link,
html.gogoend .global-header a:visited,
html.gogoend .global-header a:hover,
html.gogoend .global-header a:active {
  color: #40d576;
}
html.gogoend .global-header .global-header-wrap {
  margin: 0 auto;
  height: 50px;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html.gogoend .global-header .global-header-wrap .logo {
  height: 2.5em;
}
html.gogoend .global-header .global-header-wrap .logo a,
html.gogoend .global-header .global-header-wrap .logo picture,
html.gogoend .global-header .global-header-wrap .logo svg,
html.gogoend .global-header .global-header-wrap .logo img {
  height: inherit;
}
html.gogoend .global-header .global-header-wrap .top-link-list-wrap ul.top-link-list {
  display: flex;
}
html.gogoend .global-header .global-header-wrap .top-link-list-wrap ul.top-link-list li {
  margin: auto 1em;
}
