.go-global-header {
    position: relative;
    background-color: #333;
    a:link,a:visited,
    a:hover,a:active{
        color: #40d576
    }
    // &::before {
    //     content: '';
    //     position: absolute;
    //     left:0;
    //     top:0;
    // }

    .go-global-header-wrap {
        margin: 0 auto;
        height: 50px;
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pages-link {
            display: flex;

            li {
                margin: auto 1em;
                // height:100%;
            }
        }
    }
}