body {
  background-attachment: fixed;
  background-blend-mode: lighten;
}
a:link,
a:visited {
  color: #096;
  text-decoration: none;
}
a:hover,
a:active {
  color: #096;
  text-decoration: underline;
}
::-webkit-scrollbar {
  background-color: #666;
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: #096;
  border-radius: 8px;
}
.go-global-whole-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.go-global-whole-wrap .go-page-main-wrap {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.global-container-max-w {
  max-width: 1200px;
}
.clear-fix::after {
  content: '';
  display: table;
  clear: both;
}
.markdown-body ul,
.markdown-body li {
  list-style: initial;
}
