.go-global-header {
  position: relative;
  background-color: #333;
}
.go-global-header a:link,
.go-global-header a:visited,
.go-global-header a:hover,
.go-global-header a:active {
  color: #40d576;
}
.go-global-header .go-global-header-wrap {
  margin: 0 auto;
  height: 50px;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.go-global-header .go-global-header-wrap .pages-link {
  display: flex;
}
.go-global-header .go-global-header-wrap .pages-link li {
  margin: auto 1em;
}
