.go-global-header {
  position: relative;
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flow-root;
  padding: 1em 0;
  align-items: center;
}
.go-global-header a:link,
.go-global-header a:visited,
.go-global-header a:hover,
.go-global-header a:active {
  color: #40d576;
}
.go-global-header .go-global-header-wrap {
  margin: 0 auto;
  height: 50px;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.go-global-header .go-global-header-wrap .logo {
  height: 2.5em;
}
.go-global-header .go-global-header-wrap .logo a,
.go-global-header .go-global-header-wrap .logo picture,
.go-global-header .go-global-header-wrap .logo svg,
.go-global-header .go-global-header-wrap .logo img {
  height: inherit;
}
.go-global-header .go-global-header-wrap .go-top-link-list-wrap ul.go-top-link-list {
  display: flex;
}
.go-global-header .go-global-header-wrap .go-top-link-list-wrap ul.go-top-link-list li {
  margin: auto 1em;
}
