.go-page-main-wrap {
    .go-page-main {
        display: flex;
        margin: 0 auto;
        width: 80vw;

        // post列表展示
        .go-post-list-wrap {
            flex-grow: 1;
        }

        // post正文展示
        .go-post-article-wrap {
            max-width: 82%;
            flex-basis: 100%;
            .go-change-article-nav {
                .prev {
                    text-align: left;
                    position: relative;
                }

                .next {
                    text-align: right;
                    position: relative;
                }
            }

            .go-post-article-area {
                margin: 1em 2em;
                padding: 1em;

                h1 {}

                .go-post-article {}

                .go-post-info {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }

                hr.go-end-line {
                    margin: 2em auto;
                }
            }
        }

        .go-main-sidebar {
            position: sticky;
            top: 0;
            height: max-content;
            flex-basis: 200px;
            flex-shrink: 0;
            width: auto;
            transition: 0.5s ease all;
            padding: 1em;

            .sidebar-block {
                h2 {
                    margin: 0;
                    padding: 0.5em 0;
                }

                ul li {
                    line-height: 2em;
                }
            }
        }
    }
}