/* 全站404 */
html.gogoend .global-whole-wrap.page-404 .page-main-wrap .page-main {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}
html.gogoend .global-whole-wrap.page-404 .page-main-wrap .page-main .post-article-wrap {
  width: 100%;
}
