ul.go-post-list {
  margin-right: 1em;
  padding: 1em;
}
ul.go-post-list li.go-post-item {
  position: relative;
  padding: 1em;
  border-bottom: 1px dashed #6edaa4;
}
ul.go-post-list li.go-post-item h2.post-title {
  margin: 0.5em;
}
ul.go-post-list li.go-post-item section.post-excerpt {
  margin: 0 1em;
  padding: 0.5em 1em;
  border-left: 2px solid #3bd4a1;
  color: #555;
}
ul.go-post-list li.go-post-item section.post-excerpt > p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5em;
}
ul.go-post-list li.go-post-item aside.go-post-aside-info {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
ul.go-post-list li.go-post-item aside.go-post-aside-info .operation {
  display: flex;
}
