ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a:link,
a:visited {
  color: #096;
  text-decoration: none;
}
a:hover,
a:active {
  color: #096;
  text-decoration: underline;
}
