ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
a{
    &:link,
    &:visited {
        color: #096;
        text-decoration: none;
    }
    &:hover,
    &:active{
        color: #096;
        text-decoration: underline;
    }
}