/* 文章列表分页器 */
html.gogoend .wp-pagenavi {
  margin: 1em auto;
  text-align: center;
}
html.gogoend .wp-pagenavi .pages {
  border-color: transparent;
}
html.gogoend .wp-pagenavi .current.current {
  color: #fff;
  border-color: #22aa8a;
  background-color: #22aa8a;
}
html.gogoend .wp-pagenavi a.page,
html.gogoend .wp-pagenavi .current {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
